
<% @article.each do |attribute| %>
  <div class="each_article">
    <li>
      <span class="article_title">
        <%= "#{attribute[:title]}"%>
      </span>
    </li>
    <li class="article_link">
      <a class="article_link" href="<%= "#{attribute[:url]}" %>">
        <%= "#{attribute[:url] }" %>
      </a>
    </li>
      <p class="description">
        <%= "#{attribute[:description]}" %>
      </p>
  </div>
<% end %>

