<% @article.each do |attribute| %>
  <div class="each_article">
    <ul>
      <li class="each_article">
          <%= "#{attribute[:title]}"%>
        </span>
      </li>
    </ul>
    <p class="article_link">
      <a class="article_link" href="<%= "#{attribute[:url]}" %>">
        <%= "#{attribute[:url] }" %>
      </a>
    </p>
    <p class="description">
      <%= "#{attribute[:description]}" %>
    </p>
  </div>
<% end %>

