<% @data_in.each do |entry| %>
<span><a href="<%= "/article/#{entry[:title]}" %>" %>
  <%="#{entry[:title]}"%>
</a>
</span>

<cite class="cite"><%="(#{entry[:url]})"%></cite>

<div class="article-details"><%="#{entry[:description]}"%></div>

<% end %>



