
<div class="article-container">
  <ol>
    <% @content.each do |article| %>
      <li>
        <span class="article_title">
           <%= "#{article['title']}" %>
        </span>

        <span class="article_url">
        <a href="<%= "#{article['url']}" %>">
          <%= "#{article['url']}" %>
           </a>
        </span>

        <div class="article-details">
          <%="#{article['description']}"%>
        </div>
      </li>
      <br>
    <% end %>
  </ol>
</div>

