<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Slacker News</title>
  <link rel="stylesheet" href="styles.css">
</head>
<header>
  <div class="navigation-container">
    <ul class="nav">
      <li class="title">
        <a href="/">Slacker News</a>
      </li>

       <li class="submit">
        <a href="/submit">Submit Article</a>
      </li>
    </ul>
  </div>
</header>
<body>
  <%= yield %>
</body>
</html>
