<div id="login">
  <p>This page is under construction</p>
  <form action="#" method="post" name="login">
    <input type="text" name="username">
    <input type="password" name="password">
  </form>
</div>
