<div class="form_container">
  <form action="/articles" method="post">

    <div id="form_title">
    <h3>Submit an Article</h3>
    <p>Title</p>
      <input type="text" id="submittion_title" name="title">
    </div>

    <div id="form_url">
    <p>Submission URL</p>
      <input type="url" id="url" name="url">
    </div>

    <div id="form_description">
    <p>Description</p>
      <textarea rows="5" cols="20" input type="text" id="description" name="description" ></textarea>
    </div>
    <input type="submit" >
  </form>
  <p><%= params['error']%></p>
</div>

