<div class="form_container">
  <form action="/articles/posts" method="post">

    <label for="submittion_title">Submit an Article -  Title:</label>
    <input type="text" id="submittion_title" name="title">


    <label for="url">Submission URL:</label>
    <input type="url" id="url" name="url" />

    <label for="description">Description:</label>
    <input type="text" id="description" name="description">

    <input type="submit" >
  </form>
</div>
