<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Slacker News</title>
  <link rel="stylesheet" href="styles.css">
</head>
labvladfbd
<header>
  <div class="navigation-container">
    <ul class="nav">
      <li class="title">
        <a href="#">Slacker News</a>
      </li>
      <li>
        <a href="#">News |</a>
      </li>
      <li>
        <a href="#">Comments |</a>
      </li>
      <li>
        <a href="#">Ask |</a>
      </li>
      <li>
        <a href="#">Jobs |</a>
      </li>
      <li>
        <a href="#">Submit</a>
      </li>
    </ul>
    <ul>
    </div>
    <divclass="login">
    <li >
      <a href="#">Login</a>
    </li>
  </div>
</ul>


</header>
<body>

  <%= yield %>

</body>
</html>
<!--     <div class="article-container">

      <ol class="article-list">

        <li>
          <div class="article">
            <span><a href="http://www.nterrafranca.com/index.html">Nick Terrafranca is awesome!!! </a><span>
            <cite class="cite">(nterrafranca.com)</cite>
            <div class="article-details">123 points by <a href="#">hellacool </a>3 hours ago | 44 <a href="#">comments</a> </div>
          </div>
        </li>



      </ol>
    </div>
  -->

